<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome</h2>
    <p>[ <%= @word %> ] <%= if @x do "is" else "is not" end%> a palindrome</p>
  </div>
</div>
